* {
    color: black;
}
button {
    margin: 0 10px;
}

.listTodo-container {
    .add-todo {}

    .listTodo-content {
        width: 400px;
        margin: 0 auto;

        

        .child-todo{
            &:first-child {
                margin-top: 10px;
                border-top: 2px solid gray;
            }

            height: 40px;
            margin-bottom: 10px;
            border-bottom: 2px solid grey;
        }
    }
}